<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chl.pengBingLang.mapper.RoleModuleMapper" >

    <resultMap id="BaseResultMap" type="chl.pengBingLang.po.RoleModule" >
        <id column="ROLE_ID" property="roleId" jdbcType="VARCHAR" />
        <id column="MODULE_ID" property="moduleId" jdbcType="VARCHAR" />
        <result column="IS_GRANT" property="isGrant" jdbcType="CHAR" />
        <result column="REFUSE" property="refuse" jdbcType="CHAR" />
        <result column="DOC" property="doc" jdbcType="VARCHAR" />
        <result column="BACKUP01" property="backup01" jdbcType="VARCHAR" />
        <result column="BACKUP02" property="backup02" jdbcType="VARCHAR" />
        <result column="BACKUP03" property="backup03" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        ROLE_ID, MODULE_ID, IS_GRANT, REFUSE, DOC, BACKUP01, BACKUP02, BACKUP03
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="chl.pengBingLang.po.RoleModuleKey" >
        select 
        <include refid="Base_Column_List" />
        from ROLE_MODULE
        where ROLE_ID = #{roleId,jdbcType=VARCHAR}
          and MODULE_ID = #{moduleId,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="chl.pengBingLang.po.RoleModuleKey" >
        delete from ROLE_MODULE
        where ROLE_ID = #{roleId,jdbcType=VARCHAR}
          and MODULE_ID = #{moduleId,jdbcType=VARCHAR}
    </delete>

    <insert id="insert" parameterType="chl.pengBingLang.po.RoleModule" >
        insert into ROLE_MODULE (ROLE_ID, MODULE_ID, IS_GRANT, 
            REFUSE, DOC, BACKUP01, 
            BACKUP02, BACKUP03)
        values (#{roleId,jdbcType=VARCHAR}, #{moduleId,jdbcType=VARCHAR}, #{isGrant,jdbcType=CHAR}, 
            #{refuse,jdbcType=CHAR}, #{doc,jdbcType=VARCHAR}, #{backup01,jdbcType=VARCHAR}, 
            #{backup02,jdbcType=VARCHAR}, #{backup03,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="chl.pengBingLang.po.RoleModule" >
        insert into ROLE_MODULE
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="roleId != null" >
                ROLE_ID,
            </if>
            <if test="moduleId != null" >
                MODULE_ID,
            </if>
            <if test="isGrant != null" >
                IS_GRANT,
            </if>
            <if test="refuse != null" >
                REFUSE,
            </if>
            <if test="doc != null" >
                DOC,
            </if>
            <if test="backup01 != null" >
                BACKUP01,
            </if>
            <if test="backup02 != null" >
                BACKUP02,
            </if>
            <if test="backup03 != null" >
                BACKUP03,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="roleId != null" >
                #{roleId,jdbcType=VARCHAR},
            </if>
            <if test="moduleId != null" >
                #{moduleId,jdbcType=VARCHAR},
            </if>
            <if test="isGrant != null" >
                #{isGrant,jdbcType=CHAR},
            </if>
            <if test="refuse != null" >
                #{refuse,jdbcType=CHAR},
            </if>
            <if test="doc != null" >
                #{doc,jdbcType=VARCHAR},
            </if>
            <if test="backup01 != null" >
                #{backup01,jdbcType=VARCHAR},
            </if>
            <if test="backup02 != null" >
                #{backup02,jdbcType=VARCHAR},
            </if>
            <if test="backup03 != null" >
                #{backup03,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="chl.pengBingLang.po.RoleModule" >
        update ROLE_MODULE
        <set >
            <if test="isGrant != null" >
                IS_GRANT = #{isGrant,jdbcType=CHAR},
            </if>
            <if test="refuse != null" >
                REFUSE = #{refuse,jdbcType=CHAR},
            </if>
            <if test="doc != null" >
                DOC = #{doc,jdbcType=VARCHAR},
            </if>
            <if test="backup01 != null" >
                BACKUP01 = #{backup01,jdbcType=VARCHAR},
            </if>
            <if test="backup02 != null" >
                BACKUP02 = #{backup02,jdbcType=VARCHAR},
            </if>
            <if test="backup03 != null" >
                BACKUP03 = #{backup03,jdbcType=VARCHAR},
            </if>
        </set>
        where ROLE_ID = #{roleId,jdbcType=VARCHAR}
          and MODULE_ID = #{moduleId,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="chl.pengBingLang.po.RoleModule" >
        update ROLE_MODULE
        set IS_GRANT = #{isGrant,jdbcType=CHAR},
            REFUSE = #{refuse,jdbcType=CHAR},
            DOC = #{doc,jdbcType=VARCHAR},
            BACKUP01 = #{backup01,jdbcType=VARCHAR},
            BACKUP02 = #{backup02,jdbcType=VARCHAR},
            BACKUP03 = #{backup03,jdbcType=VARCHAR}
        where ROLE_ID = #{roleId,jdbcType=VARCHAR}
          and MODULE_ID = #{moduleId,jdbcType=VARCHAR}
    </update>
</mapper>